php_value display_errors 0
Options All -Indexes
ErrorDocument 401 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /
<Files *.txt>
	deny from all
</Files>
<Files _set.php>
	deny from all
</Files>
RewriteEngine On
RewriteRule ^(3ds|merchant|track|refund|unlock)([0-9]+)$ $1.php?id=$2